# Copy this file to .env and fill in your values
MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxx.mongodb.net/noticeBoardDB
PORT=3000
REACT_URL=https://your-react-app.vercel.app
ANGULAR_URL=https://your-angular-app.vercel.app
